mixin slider()
	//block slider
	.slider.owl-carousel
		a(href="#" style="background-image:url()").slider__el
			img(src="img/slider-1.jpeg", alt="")
		a(href="#" style="background-image:url(img/slider-2.jpeg)").slider__el
			img(src="img/slider-2.jpeg", alt="")
	//block slider end