include block_html/_style.jade
include ../module/**/*.jade

+header()
.section-wraper.section-wraper--map
	.baner-map
	.main-cont
		+map()
+footer()
+modal-item()
+modal-city()
+modal-auth()

	
include block_html/widget.html
include ./block_html/_script.jade

