mixin footer()
	//block footer
	.footer-wrap
		.main-cont
			.footer
				.footer-info
					.type 
						a(href="#") Зона доставки 
						| ограничена
					.type Минимальный заказ - 500 
						span.rub c
					.type При оплате наличными минимальный заказ - 8000
						span.rub c
					.type Все цены в меню указаны без учета скидок
				.footer-get
					.type Правовая информация
					a(href="#").footer-basket Перейти в корзину
	.footer-sub-wrap
		.main-cont
			.footer-sub
				.footer-sub-el
					.type 2016  Сеть ресторанов “Название ресторана”
				.footer-sub-el.footer-sub-link
					a(href="#") Карта сайта
				.footer-sub-el.footer-sub-phone 8 (800) 100-7-500
				.footer-sub-el.footer-sub-soc
					.social
						a(href="#").social__el
							i.icon.icon-youtube-alt
						a(href="#").social__el
							i.icon.icon-main
						a(href="#").social__el
							i.icon.icon-facebook
						a(href="#").social__el
							i.icon.icon-instagrem
				
	//block footer end