//! block footer
.footer-wrap
	background dark 
	color white
	min-width 800px
	margin-top 60px
.footer
	flex(between)
	align-items flex-start
	padding 60px
	.type
		font-size 24px
		font-weight 300 
.footer-info
	a
		color white
		text-decoration underline
	.rub
		font-size 14px
//.type 
//.footer-get
.footer-basket 
	@extend .btn--dark-light
	margin-top 30px
	text-transform inherit
//.footer-sub-wrap 
//.main-cont 
.footer-sub
	padding 20px
	flex(between)
.footer-sub-link
	text-decoration underline
.footer-sub-el
	font-size 20px
//.type 
.footer-sub-phone
	color black
	font-family  'Core Mellow Compressed';
	font-size 32px
	font-weight 400
//.social
.footer-sub-soc
	+below(978px)
		display none
.social__el
	flex 1
//.icon 
//.icon-youtube-alt 
//.icon-main 
//.icon-facebook 
//.icon-instagrem 
//!block footer end