-
	pages = [
	
		{
			'name':'Главная',
			'href':'index'
		},
		{
			'name':'Заказ',
			'href':'order'
		},
		{
			'name':'Кабинет',
			'href':'cabinet'
		},
		{
			'name':'Кабинет статус',
			'href':'status'
		}
	
	]
	
