//! block inside-baner
.baner-inside__nav 
	flex(mid)
.inside-nav 
	margin-top -50px
	flex(between)
	width 350px
	padding 15px 30px
	background dark 
.inside-nav__el 
	flex(mid)
	cp()
	tr(all)
	width 30%
	color white
	.icon 
		font-size 46px
	&:hover
		color darken(white,30)
	&:nth-child(1)
		flex(mid)
		fl()
		fw()
		span
			up()
			font-size 22px
			margin-top 5px
		.icon
			font-size 22px
//.icon-arrow-top 
//.icon-resize 
//.icon-increase 
//!block inside-baner end