mixin inside-baner()
	//block inside-baner
	.baner-inside
	.baner-inside__nav
		.inside-nav
			.inside-nav__el
				.icon.icon-arrow-top
				span Зал № 1
			.inside-nav__el 
				.icon.icon-resize
			.inside-nav__el
				.icon.icon-increase
	//block inside-baner end